*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Times New Roman', Times, serif;
}

h2{
    font-size: 2rem;
    font-weight: 500;
}
.card{
    border-radius: 6px;
}

header{
    height: 90vh;
    width: 100vw;
    background-image: url('/assets/images/FormationEnNom-Formation.png');
    background-size: cover;
    background-position: center;
}

footer{
    background-color: #000;
}

a{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    list-style: none;
}
.ban-text{
    position: absolute;
    bottom: 10rem;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
}
.ban-text h1{
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 700;
}

.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    height: 90px;
    background-color: transparent;
    z-index: 1000;
}

.navbar-brand img{
    width: 250px;
    height: 100px;
}

.nav-item .nav-link{
    color: #000;
    font-size: 1.3rem;
    font-weight: 500;
}
.price .nav-link{
    color: #000;
}
.nav-item .nav-link:hover{
    color: #C40FB7;
}

.navbar-toggler span{
    color: #fff;
}
.navbar-toggler-icon{
    color: #fff;
}
.bi-list{
    color: #fff;
    font-size: 2rem;
}

/* partie mon histoire */
.img-histo{
    height: 400px;
    width: 550px;
}
.contenu{
    background-color: #fff;
    color: #000;
    padding: 50px;
}
.devenir{
    text-align: center;
}

.temo p{
    font-size: 1.4rem;
}

.about{
    background-color: #000;
}
.navbar-nav a{
    font-size: 1.5rem;
    font-weight: 600;
}

.banner{
    height: 60vh;
    background-image: url('/assets/images/inscriptions.jpg');
    background-position: center;
    background-size: cover;
}
.ins{
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 1px 8px 8px rgba(0, 0, 0, 0.7);
    padding: 1rem 5rem;
    color: #fff;
    max-width: 80%;
}
.con{
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 1px 0 10px 8px rgb(0, 0, 0, 0.7);
    padding: 20px 30px;
    color: #fff;
    max-width: 40%;
    margin: 0 auto;
    border-radius: 10px;
}
.connexion{
    padding: 40px 0;
    background-image: url('/assets/images/pc.jpg');
    background-position: center;
    background-size: cover;
}

.btn{
    border: 1px solid rgb(95, 2, 2);
    border-radius: 5px;
}
.fw{
    font-weight: 700;
}
.info-cont{
    border: 2px solid #000;
    padding: 20px;
}
.myform{
    max-width: 100%;
    padding: 1rem 2rem;
    color: #fff;
}
.connect-footer a{
    text-decoration: none;
}
.modal-title{
    font-size: 2rem;
    font-weight: 500;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.modal-body p{
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
}
.modal-body p a{
    font-size: 1.2rem;
}

.modal-content{
    width: 100%;
    margin: 0 auto;
}

.bgColor{
    background-color: #fff;
    border-bottom: 1px solid rgb(95, 2, 2);
    box-shadow: 0 3px 4px rgba(95, 2, 2, 0.5);
    transition: all 0.5s;
}

.card .f-image{
    height: 240px;
    width: auto;
}
.bg{
    background-color: #000;
}

/* partie pack */

.header-card{
    border-bottom: 1px #000 solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-card h2{
    color: #C40FB7;
}


@media screen and (max-width: 768px) {
    .navbar-offcanvas {
      background-color: #000;
      padding: 20px;
      line-height: 3rem;
    }
    .nav-item .nav-link{
        color: #fff;
    }
    .btn-close{
        color: #fff;
    }
    .nav-item .nav-link:hover{
        background-color: rgb(95, 2, 2);
        border-radius: 10px;
    }
    .ght-insc{
        width: 100%;
    }
    .con{
        max-width: 100%;
        margin: 0 auto;
        border-radius: 10px;
    }
    .ins{
        max-width: 100%;
        margin: 0 auto;
        border-radius: 10px;
    }
  }